block variables
	- var pageTitle = "Accueil - Publisher"
	- var interfaceTitle = "Accueil"

block aside
	- var asideActiveMenu = "Accueil"

extends ../layout/_app-base 

block content

	//include includes/_stats
	include includes/_programs

	
