block variables
	- var pageTitle = "Statistiques - Publishers"
	- var interfaceTitle = "Statistiques"

block aside
	-var asideActiveMenu = "Statistiques"

extends ../layout/_app-base 

block content
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu dignissim lectus. Mauris dictum quis enim et congue. Praesent sed tincidunt metus, a fringilla est. Cras sed enim tempus, volutpat tortor vitae, elementum lorem. Aenean a bibendum nisi, at facilisis diam. Nullam sollicitudin dolor vel leo pretium, et molestie nisl rhoncus. In laoreet volutpat massa interdum consequat. Aenean sit amet enim sed tortor accumsan varius. Pellentesque adipiscing, nunc vitae tincidunt lacinia, erat massa blandit nulla, sit amet sollicitudin urna justo sed odio. Nam non pulvinar lacus, id ultrices turpis. Aenean vitae mattis sapien, sed luctus elit. Quisque sagittis lacus nec justo porta vulputate. Integer vestibulum justo in pulvinar tincidunt. Ut laoreet leo odio, non condimentum arcu suscipit ornare. Nam in aliquam ante, eget pharetra orci. Integer tincidunt vel ligula non bibendum.Nulla in dui dapibus, varius augue ut, bibendum mauris. Praesent eget elementum quam. Nullam arcu eros, porttitor at mi sed, sagittis lobortis elit. Nam vel mauris vel dolor fermentum euismod. Vivamus at eleifend lacus, vitae molestie nunc. Vestibulum ullamcorper vel magna in fermentum. Morbi sit amet venenatis quam. Etiam ut nulla sit amet nibh semper eleifend. Fusce hendrerit elit felis, quis consequat tellus elementum at. Cras hendrerit neque mi, id tincidunt eros imperdiet sit amet. Mauris tempor magna est, sed cursus lectus auctor eget.Mauris consequat, ante a adipiscing tempus, velit diam ultricies felis, ut placerat metus turpis et lectus. Nulla convallis sapien ipsum, sodales adipiscing orci elementum vel. Curabitur ac elit a ante sodales lacinia. Suspendisse semper massa at mauris interdum, ac dictum sapien convallis. Ut auctor malesuada odio nec commodo. Donec rhoncus molestie augue nec rutrum. Quisque dolor metus, iaculis non mi nec, gravida congue lectus. Praesent sagittis magna condimentum, commodo dolor quis, accumsan urna. Sed sed massa at neque consequat pulvinar at at sem. Duis porta et nisi sed mattis. Nunc elementum at felis nec porta. Nunc ut auctor felis. Aenean hendrerit interdum nisi, eu tincidunt lectus blandit sit amet. Integer dapibus, nisi nec luctus tincidunt, est eros mattis nisl, sed mattis enim orci nec est.Integer placerat nibh vitae tellus pellentesque venenatis. In id ipsum ullamcorper, imperdiet tortor pharetra, vulputate sapien. Maecenas tristique vehicula interdum. Sed sed metus sed nisl mattis tempus in a neque. Pellentesque est nibh, cursus quis adipiscing sed, varius eu tellus. Nullam sem magna, accumsan sed pellentesque at, luctus in lectus. Etiam imperdiet, libero id lacinia sagittis, nisl risus dignissim mauris, et posuere justo elit non sapien. Sed eu dictum lectus. Nullam tempor vehicula est vitae ornare. Ut id porttitor nunc.Etiam auctor cursus neque at sagittis. Nam non lacus at ligula malesuada vehicula. Cras bibendum elit elit, et malesuada turpis laoreet ut. Donec velit mi, porta quis ante eget, bibendum congue dui. Cras sollicitudin dui tortor, ut facilisis odio ultricies id. Nam cursus nulla eu diam mollis dictum. Etiam vitae ultrices quam, in venenatis urna. Maecenas nec imperdiet urna. Curabitur in risus tellus. Donec pharetra viverra luctus. Vestibulum molestie elit a elit bibendum, sed dignissim ligula sollicitudin. Ut sit amet magna ante. Aliquam quis felis at nibh fringilla elementum. Etiam sed elit ligula. Nulla scelerisque mi sit amet enim egestas, a auctor tortor convallis. Nam a viverra lectus.
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu dignissim lectus. Mauris dictum quis enim et congue. Praesent sed tincidunt metus, a fringilla est. Cras sed enim tempus, volutpat tortor vitae, elementum lorem. Aenean a bibendum nisi, at facilisis diam. Nullam sollicitudin dolor vel leo pretium, et molestie nisl rhoncus. In laoreet volutpat massa interdum consequat. Aenean sit amet enim sed tortor accumsan varius. Pellentesque adipiscing, nunc vitae tincidunt lacinia, erat massa blandit nulla, sit amet sollicitudin urna justo sed odio. Nam non pulvinar lacus, id ultrices turpis. Aenean vitae mattis sapien, sed luctus elit. Quisque sagittis lacus nec justo porta vulputate. Integer vestibulum justo in pulvinar tincidunt. Ut laoreet leo odio, non condimentum arcu suscipit ornare. Nam in aliquam ante, eget pharetra orci. Integer tincidunt vel ligula non bibendum.Nulla in dui dapibus, varius augue ut, bibendum mauris. Praesent eget elementum quam. Nullam arcu eros, porttitor at mi sed, sagittis lobortis elit. Nam vel mauris vel dolor fermentum euismod. Vivamus at eleifend lacus, vitae molestie nunc. Vestibulum ullamcorper vel magna in fermentum. Morbi sit amet venenatis quam. Etiam ut nulla sit amet nibh semper eleifend. Fusce hendrerit elit felis, quis consequat tellus elementum at. Cras hendrerit neque mi, id tincidunt eros imperdiet sit amet. Mauris tempor magna est, sed cursus lectus auctor eget.Mauris consequat, ante a adipiscing tempus, velit diam ultricies felis, ut placerat metus turpis et lectus. Nulla convallis sapien ipsum, sodales adipiscing orci elementum vel. Curabitur ac elit a ante sodales lacinia. Suspendisse semper massa at mauris interdum, ac dictum sapien convallis. Ut auctor malesuada odio nec commodo. Donec rhoncus molestie augue nec rutrum. Quisque dolor metus, iaculis non mi nec, gravida congue lectus. Praesent sagittis magna condimentum, commodo dolor quis, accumsan urna. Sed sed massa at neque consequat pulvinar at at sem. Duis porta et nisi sed mattis. Nunc elementum at felis nec porta. Nunc ut auctor felis. Aenean hendrerit interdum nisi, eu tincidunt lectus blandit sit amet. Integer dapibus, nisi nec luctus tincidunt, est eros mattis nisl, sed mattis enim orci nec est.Integer placerat nibh vitae tellus pellentesque venenatis. In id ipsum ullamcorper, imperdiet tortor pharetra, vulputate sapien. Maecenas tristique vehicula interdum. Sed sed metus sed nisl mattis tempus in a neque. Pellentesque est nibh, cursus quis adipiscing sed, varius eu tellus. Nullam sem magna, accumsan sed pellentesque at, luctus in lectus. Etiam imperdiet, libero id lacinia sagittis, nisl risus dignissim mauris, et posuere justo elit non sapien. Sed eu dictum lectus. Nullam tempor vehicula est vitae ornare. Ut id porttitor nunc.Etiam auctor cursus neque at sagittis. Nam non lacus at ligula malesuada vehicula. Cras bibendum elit elit, et malesuada turpis laoreet ut. Donec velit mi, porta quis ante eget, bibendum congue dui. Cras sollicitudin dui tortor, ut facilisis odio ultricies id. Nam cursus nulla eu diam mollis dictum. Etiam vitae ultrices quam, in venenatis urna. Maecenas nec imperdiet urna. Curabitur in risus tellus. Donec pharetra viverra luctus. Vestibulum molestie elit a elit bibendum, sed dignissim ligula sollicitudin. Ut sit amet magna ante. Aliquam quis felis at nibh fringilla elementum. Etiam sed elit ligula. Nulla scelerisque mi sit amet enim egestas, a auctor tortor convallis. Nam a viverra lectus.
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu dignissim lectus. Mauris dictum quis enim et congue. Praesent sed tincidunt metus, a fringilla est. Cras sed enim tempus, volutpat tortor vitae, elementum lorem. Aenean a bibendum nisi, at facilisis diam. Nullam sollicitudin dolor vel leo pretium, et molestie nisl rhoncus. In laoreet volutpat massa interdum consequat. Aenean sit amet enim sed tortor accumsan varius. Pellentesque adipiscing, nunc vitae tincidunt lacinia, erat massa blandit nulla, sit amet sollicitudin urna justo sed odio. Nam non pulvinar lacus, id ultrices turpis. Aenean vitae mattis sapien, sed luctus elit. Quisque sagittis lacus nec justo porta vulputate. Integer vestibulum justo in pulvinar tincidunt. Ut laoreet leo odio, non condimentum arcu suscipit ornare. Nam in aliquam ante, eget pharetra orci. Integer tincidunt vel ligula non bibendum.Nulla in dui dapibus, varius augue ut, bibendum mauris. Praesent eget elementum quam. Nullam arcu eros, porttitor at mi sed, sagittis lobortis elit. Nam vel mauris vel dolor fermentum euismod. Vivamus at eleifend lacus, vitae molestie nunc. Vestibulum ullamcorper vel magna in fermentum. Morbi sit amet venenatis quam. Etiam ut nulla sit amet nibh semper eleifend. Fusce hendrerit elit felis, quis consequat tellus elementum at. Cras hendrerit neque mi, id tincidunt eros imperdiet sit amet. Mauris tempor magna est, sed cursus lectus auctor eget.Mauris consequat, ante a adipiscing tempus, velit diam ultricies felis, ut placerat metus turpis et lectus. Nulla convallis sapien ipsum, sodales adipiscing orci elementum vel. Curabitur ac elit a ante sodales lacinia. Suspendisse semper massa at mauris interdum, ac dictum sapien convallis. Ut auctor malesuada odio nec commodo. Donec rhoncus molestie augue nec rutrum. Quisque dolor metus, iaculis non mi nec, gravida congue lectus. Praesent sagittis magna condimentum, commodo dolor quis, accumsan urna. Sed sed massa at neque consequat pulvinar at at sem. Duis porta et nisi sed mattis. Nunc elementum at felis nec porta. Nunc ut auctor felis. Aenean hendrerit interdum nisi, eu tincidunt lectus blandit sit amet. Integer dapibus, nisi nec luctus tincidunt, est eros mattis nisl, sed mattis enim orci nec est.Integer placerat nibh vitae tellus pellentesque venenatis. In id ipsum ullamcorper, imperdiet tortor pharetra, vulputate sapien. Maecenas tristique vehicula interdum. Sed sed metus sed nisl mattis tempus in a neque. Pellentesque est nibh, cursus quis adipiscing sed, varius eu tellus. Nullam sem magna, accumsan sed pellentesque at, luctus in lectus. Etiam imperdiet, libero id lacinia sagittis, nisl risus dignissim mauris, et posuere justo elit non sapien. Sed eu dictum lectus. Nullam tempor vehicula est vitae ornare. Ut id porttitor nunc.Etiam auctor cursus neque at sagittis. Nam non lacus at ligula malesuada vehicula. Cras bibendum elit elit, et malesuada turpis laoreet ut. Donec velit mi, porta quis ante eget, bibendum congue dui. Cras sollicitudin dui tortor, ut facilisis odio ultricies id. Nam cursus nulla eu diam mollis dictum. Etiam vitae ultrices quam, in venenatis urna. Maecenas nec imperdiet urna. Curabitur in risus tellus. Donec pharetra viverra luctus. Vestibulum molestie elit a elit bibendum, sed dignissim ligula sollicitudin. Ut sit amet magna ante. Aliquam quis felis at nibh fringilla elementum. Etiam sed elit ligula. Nulla scelerisque mi sit amet enim egestas, a auctor tortor convallis. Nam a viverra lectus.



