doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		block variables
			- var pageTitle = pageTitle || default "Publisher"
			- var interfaceTitle = interfaceTitle || "Interface"
		title #{pageTitle}
		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="img/favicon.png" rel="shortcut icon")

		link(rel="stylesheet", href="css/main.css")
		
		//if lt IE 9
			script(src="js/ltie9.js")


	body(class="baseline")

		div(class="app")

			include ../includes/_aside

			include ../includes/_header

			div(class="main")

				div(class="content")

					block content
				
			script(src="js/d3.js" charset="utf-8")
			script(src="js/c3.js")
			script(type='text/javascript', src="js/main.js")
