block aside
	- var asideActiveMenu = '';

- var asideMenu = {'Accueil' : 'index.html', 'Compte' : '#', 'Programme' : '#', 'Statistiques' : 'stats.html' }

aside(class="aside left" id="aside")
	header(class="aside-header") 
		h1(class="logo")
			img(src="img/logo-public-idees.png", srcset="public-idees@2x.png 2x", alt="Public-Idées")

	nav(role="navigation")
		ul(class="aside-nav list-unstyled")
			each val, key in asideMenu
				li
					if asideActiveMenu === key
						a(class="aside-nav-item active", href=val, title=key)= key
					else
						a(class="aside-nav-item", href=val, title=key)= key
