header(role="banner", class="header")

	a(id="buttonMenu" href="#" title="Menu mobile" class="visible-xs left") MENU

	h1(class="header-title left") #{interfaceTitle}

	//nav(class="right" role="navigation")
		ul(class="header-menu list-inline")
			li 
				a(class="header-menu-item active", href="#") Création d'export
			li 
				a(class="header-menu-item", href="#") Résumé
			li 
				a(class="header-menu-item", href="#") Détails


