//
// Mixins buttons
//

// Rounded colors icons with light border and hover effect
@mixin light-color-icon($icon-color-base) {
  	/* Typography */
	color: $icon-color-base;

	/* Visual */
	border-color: $icon-color-base;

	&:hover {
		/* Typography */
		color: $text-color-light;

		/* Visual */
		background-color: $icon-color-base;
	}
}