//
// Widget programs
//

.section-programs {
	/* Visual */
	background-color: $gray-lighter;
}

.program-item {
	/* Box model */
	overflow: hidden;
	display: block;
	width: 100%;

	/* Visual */
	border-bottom: 1px solid $gray-lighter;
}

.program-info {
	/* Box model */
	overflow: hidden;

	/* Visual */
	background-color: $brand-third-color;
}

.program-logo {
	/* Box model */
	width: 120px;
	height: 60px;

	/* Visual */
	background: $gray-light;
}

.program-title {
	/* Box model */
	@include m-p(padding, left, $mp-xs);

	/* Typogrpahy */
	color: white;
}

.program-rems {
	/* Box model */
	@include m-p(padding, left, $mp-xs);
	
}

.icon-program-rems {
	/* Box model */
	padding: 4px;
	width: 50px;
	height: 50px;
	line-height: 30px;
	background-color: $brand-primary-color;
	@include m-p(margin, right, $mp-xs);


	/* Typogrpahy */
	@include font-size(11, no, no);
	color: white;
	text-align: center;

	/* Visual */
	border-radius: 50%;
}

.program-more-info-button {
	/* Box model */
	height: $doc-line-height * 2.5 + px;
	width: $doc-line-height * 2.5 + px;

	/* Typography */
	@include font-size(22, no, no);
	color: white;
	line-height: $doc-line-height * 2.5 + px;

	&:hover {
		color: $brand-primary-color;
	}
}

.program-more-info {
	/* Box model */
	@include m-p(padding, top, $mp-s);

	/* Visual */
	background-color: white;
}

.program-rems-list {
	/* Box model */
	@include m-p(padding, left, $mp-s);


}

.program-am {
	/* Box model */
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, top, $mp-s);
	@include m-p(padding, bottom, $mp-s);

	/* Typography */
	@include font-size(14, no, no);

	/* Visual */
	background-color: white;
	border-top: 1px solid $gray-light;
}

.icon-program-am {
	/* Box model */
	@include m-p(margin, right, $mp-xs);

}

.button-light {
	
}