h2(class="section-title") Programmes
section(class="section section-programs")
	div(class="row")
		div(class="col-md-5")
			h3(class="widget-title") Nouveautés
			ul(class="widget-program-list accordion list-unstyled")

				li(class="program-item")
					div(class="program-info accordion-info")
						div(class="program-logo left")
						div(class="left")
							div(class="program-title m-t-xs") My Sunset
							span(class="program-rems")
								i(class="icon-cart icon-program-rems")
						a(class="program-more-info-button icon-arrow-down right text-center")

					div(class="program-more-info accordion-more")
						ul(class="list-unstyled program-rems-list m-b-s")
							li(class="program-rems-item") 
								i(class="icon-cart icon-program-rems") 
								span Vente > 2000 : 38€50
							li(class="program-rems-item")
								i(class="icon-cart icon-program-rems") 
								span Vente : 23€10

						div(class="program-am")
							span 
								i(class="icon-envelope icon-program-am") 
								| Account Manager : 
								a(href="mailto:am@public-idees", title="Nom AM") Alexandre Renault

				li(class="program-item")
					div(class="program-info accordion-info")
						div(class="program-logo left")
						div(class="left")
							div(class="program-title m-t-xs") Bed and Breakfast
							span(class="program-rems")
								i(class="icon-cursor icon-program-rems")
						a(class="program-more-info-button icon-arrow-down right text-center")

					div(class="program-more-info accordion-more")
						ul(class="list-unstyled program-rems-list m-b-s")
							li(class="program-rems-item") Clic : 0.23€

						div(class="program-am")
							span ✉ Account Manager : 
								a(href="mailto:am@public-idees", title="Nom AM") Rahim Daouadji

				li(class="program-item")
					div(class="program-info accordion-info")
						div(class="program-logo left")
						div(class="left")
							div(class="program-title m-t-xs") Center Parks
							span(class="program-rems")
								i(class="icon-paper icon-program-rems")
						a(class="program-more-info-button icon-arrow-down right text-center")

					div(class="program-more-info accordion-more")
						ul(class="list-unstyled program-rems-list m-b-s")
							li(class="program-rems-item") Formulaire 0.50€

						div(class="program-am")
							span ✉ Account Manager : 
								a(href="mailto:am@public-idees", title="Nom AM") Lucie Duval

				li(class="program-item")
					div(class="program-info accordion-info")
						div(class="program-logo left")
						div(class="left")
							div(class="program-title m-t-xs") Skoda Yeti
							span(class="program-rems")
								i(class="icon-paper icon-program-rems")
						a(class="program-more-info-button icon-arrow-down right text-center")

					div(class="program-more-info accordion-more")
						ul(class="list-unstyled program-rems-list m-b-s")
							li(class="program-rems-item") Formulaire 0.50€

						div(class="program-am")
							span ✉ Account Manager : 
								a(href="mailto:am@public-idees", title="Nom AM") Maria Herrero Calzada

				li(class="program-item")
					div(class="program-info accordion-info")
						div(class="program-logo left")
						div(class="left")
							div(class="program-title m-t-xs") Love2Recycle 
							span(class="program-rems")
								i(class="icon-cart icon-program-rems")
								i(class="icon-paper icon-program-rems")
						a(class="program-more-info-button icon-arrow-down right text-center")

					div(class="program-more-info accordion-more")
						ul(class="list-unstyled program-rems-list m-b-s")
							li(class="program-rems-item") Vente (vente en ligne)
							li(class="program-rems-item") Formulaire (inscription)
							li(class="program-rems-item") Vente (revente)

						div(class="program-am")
							span ✉ Account Manager : 
								a(href="mailto:am@public-idees", title="Nom AM") Jean-Charles Blanc

				a(class="button button-primary button-link button-light block-100") Voir le catalogue

		//div(class="col-md-4")
			h3(class="widget-title") Nouveaux programmes
			ul
				li Programme 1
				li Programme 2
				li Programme 3
				li Programme 4
				li Programme 5
		//div(class="col-md-4")
			h3(class="widget-title") Programmes fermés
			ul
				li Programme 1
				li Programme 2
				li Programme 3
				li Programme 4
				li Programme 5