section(class="section")
        h2(class="section-title") Statistiques
        div(class="row")
            div(class="col-md-6")

                div(class="row")
                    div(class="col-md-12")
                        div(id="chart")
                div(class="row")
                    div(class="col-md-6")
                        div(id="") + 3%
                    div(class="col-md-6")
                        div(id="barChart") 

            div(class="col-md-6")
                div(id="chartArea")