//
// Aside
//

.aside {
	/* Box model */
	width: $aside-width;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	/* Visual */
	background: $brand-third-color;

	@media screen and (max-width: 768px) {
	    /* Rédigez vos propriétés CSS ici */

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100% !important;
		z-index: -1;
	}
}

.logo {
	/* Box model */
	height: $doc-line-height * 3 +px;
	@include m-p(padding, top, $mp-s);
	@include m-p(padding, bottom, $mp-s);
	margin-bottom: 0;

	/* Typogaphy */
	text-align: center;

	/* Visual */
	background-color: $brand-secondary-color;
}

.aside-nav {
	/* Box model */
	@include m-p(margin, top, $mp-m);
}

.aside-nav-item {
	/* Box model */
	display: block;
	@include m-p(padding, left, $mp-s);

	/* Typogrphay */
	@include font-size(16, no, no, 48);
	color: lighten($brand-secondary-color, 50%);
	text-decoration: none;

	&.active, &:hover {
		/* Typography */
		color: $text-color-light;

		/* Visual */
		background-color: $brand-secondary-color;
	}
}