//
// Header
//

.header {
	/* Box-model */
	position: relative;
	height: $doc-line-height * 3 +px;
	z-index: 1000;
	margin: 0;
	margin-left: $aside-width;

	/* Visual */
	background-color: $brand-primary-color;

	/* Misc */
	-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);

	@media screen and (max-width: 768px) {
	    /* Rédigez vos propriétés CSS ici */
		margin-left: 0;
	}
}

.header-title {
	/* Box model */
	@include m-p(margin, left, $mp-m);

	/* Typography */
	@include font-size(20, 24, no);
	color: white;
	font-weight: normal;
}

.header-menu {
	/* Box model */
	margin-bottom: 0;
	@include m-p(margin, right, $mp-s);

	/* Typography */
	@include font-size(16, 24, no);
}

.header-menu-item {
	/* Typography */
	text-decoration: none;
	color: darken($brand-primary-color, 20%);

	&:hover, &.active {
		color: white;
	}

}
