.button {	
	/* Box-model */
	display: inline-block;
	height: $h-xl + px;
	@include m-p(padding, left, $mp-l);
	@include m-p(padding, right, $mp-l);

	/* Visual */
	border: 0;
	border-radius: $border-radius-s;
	color: $text-color-light;

	/* Misc */
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

// Button small
.button-s {
	/* Box-model */
	height: $h-l + px;
	@include m-p(padding, left, $mp-s);
	@include m-p(padding, right, $mp-s);
}

// Button large
.button-l {
	/* Box-model */
	height: $h-xl + px;
	@include m-p(padding, left, $mp-xl);
	@include m-p(padding, right, $mp-xl);
}

// Button link
.button-link {

	/* Typography */
	line-height: $doc-line-height * 1.6 + px;
	text-align: center;
	text-decoration: none;

	&.button-s {
	/* Typography */
	line-height: $doc-line-height * 1.4 + px;
	}

	&.button-l {
	/* Typography */
	line-height: $doc-line-height * 1.9 + px;
	}

	&:hover {
		/* Typography */
		text-decoration: none;
	}
}

// Button block
.button-block {
	/* Box-model */
	display: block;
}
