/*-- Chart --*/

.c3 svg {
  font-size: 12px;
}
.c3 path, .c3 line {
  fill: none;
  stroke: lighten(#aebdc8, 20%);
}
.c3 text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges;
}

.c3-chart-arc path {
  stroke: #fff;

}
.c3-chart-arc text {
  fill: #fff;
  font-size: 14px;
}

/*-- Axis --*/

.c3-axis-x .tick {
  fill: darken(#aebdc8, 20%);
}
.c3-axis-x-label {
}

.c3-axis-y .tick {
  fill: darken(#aebdc8, 20%);
}
.c3-axis-y-label {
}

.c3-axis-y2 .tick {
}
.c3-axis-y2-label {
}

/*-- Grid --*/

.c3-grid line {
  stroke: lighten(#aebdc8, 20%);
}
.c3-grid text {
  fill: #aebdc8;
}
.c3-xgrid, .c3-ygrid {
  /*stroke-dasharray: 3 3;*/
}
.c3-xgrid-focus {
}

/*-- Text on Chart --*/

.c3-text {
}

/*-- Line --*/

.c3-line {
  stroke-width: 1px;
}
/*-- Point --*/
.c3-circle {
  stroke-width: 2px;
}
.c3-circle._expanded_ {
  stroke-width: 2px;
  stroke: white;
  fill: red;
}
.c3-selected-circle {
  fill: red;
  stroke-width: 5px;
}

/*-- Bar --*/

.c3-bar._expanded_ {
  fill-opacity: 0.75;
}

/*-- Arc --*/

.c3-chart-arcs-title {
  font-size: 1.4em;
}

/*-- Focus --*/

.c3-target.c3-focused path.c3-line {
  stroke-width: 3px;
}

/*-- Region --*/

.c3-region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/

.c3-brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/

.c3-dragarea {
}

/*-- Legend --*/

.c3-legend-item {
  font-size: 14px;
  fill: $brand-third-color;

}

/*-- Tooltip --*/

.c3-tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
          box-shadow: 7px 7px 12px -9px rgb(119,119,119);
  opacity: 0.9;
}
.c3-tooltip tr {
  border:1px solid #CCC;
}
.c3-tooltip th {
  background-color: #aaa;
  font-size:14px;
  padding:2px 5px;
  text-align:left;
  color:#FFF;
}
.c3-tooltip td {
  font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}
.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
.c3-tooltip td.value{
  text-align: right;
}

.c3-area {
  stroke-width: 0;
  opacity: 0.2;
}
