/* Form

Styleguide 2
*/


/* Basic

Markup: 
<form class="form" role="form">
	<label class="label" for="email">Email</label>
	<input class="input" id="email" name="email" placeholder="Enter your email" />
	<label class="label" for="password">Password</label>
	<input class="input" id="password" name="password" placeholder="Enter your password" />
	<div class="checkbox">
		<label class="label">
			<input type="checkbox" /> Check me out
		</label>
	</div>
	<button class="button button-primary">Submit</button>
</form>

Styleguide 2.1 
*/

label, 
.label {
	/* Box-model */
	display: inline-block;

	cursor: pointer;
}

input,
.input, 
textarea,
.textarea,
select,
.select {
	/* Box-model */
	display: block;
	height: $doc-line-height * 1.5 + px;
	@include m-p(margin, bottom, $mp-s);
	@include m-p(padding, left, $mp-s);

	/* Typography */
	color: $text-color;
	
	/* Visual */
	border: 1px solid $border-color;
	border-radius: $border-radius-s;

	&:focus {
		/* Visual */
		outline: none;
		border: 1px solid $link-color;
	}
}

.textarea {
	/* Box-model */
	height: $doc-line-height * 6 + px;
	@include m-p(padding, top, $mp-s);
}

.checkbox, 
.radio {
	/* Box-model */
	display: block;
	height: $doc-line-height + px;
	@include m-p(margin, bottom, $mp-m);

	& input, .input {
		/* Box-model */
		height: $doc-line-height + px;
		float: left;
		@include m-p(margin, right, $mp-xs);
		margin-bottom: 0;
	}
}

// Large
.label-l {
	/* Typography */
	@include font-size(18, no, no);
}

.input-l {
	/* Box-model */
	height: $h-xl + px;
	@include font-size(18, no, no);
	@include m-p(margin, bottom, $mp-m);
}

/* Form inline */

.form-inline {}

// Placeholder 
::-webkit-input-placeholder {
   color: $form-placeholder-color;
}

:-moz-placeholder { /* Firefox 18- */
	/* Typography */
	color: $form-placeholder-color;
}

::-moz-placeholder {  /* Firefox 19+ */
	/* Typography */
	color: $form-placeholder-color;  
}

:-ms-input-placeholder {
	/* Typography */
	color: $form-placeholder-color;
}
