//
// Section
//

.section {
	/* Box model */
	@include m-p(padding, left, $mp-m);
	@include m-p(padding, right, $mp-m);

	/* Visual */
	background-color: transparent;
}

.section-title {
	/* Typography */
	@include font-size(20, no, no);
	@include m-p(padding, left, $mp-m);
	@include m-p(padding, top, $mp-m);
	@include m-p(padding, bottom, $mp-m);
	font-weight: bold;
	text-transform: uppercase;

	/* Visual */
	background-color: white;
}

.widget-title {
	/* Typography */
	font-family: $font-family;
	@include font-size(18, $mp-s, $mp-s);
	font-weight: normal;
	color: $brand-secondary-color;
}
