<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Styleguide</title>
    <meta name="description" content="" />
    <meta name="generator" content="kss-node" />
    <link rel="stylesheet" href="public/kss.css" />
    <link rel="stylesheet" href="public/style.css" />
    <!--[if lt IE 9]>
    <script src="public/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body id="kss-node" class="baseline">
    <div class="kss-wrapper">
      <div class="kss-sidebar">
        <div class="kss-sidebar-inner">
          <header class="kss-header">
            <h1 class="kss-doc-title"><a href="./">Styleguide</a></h1>
          </header>
          <nav class="kss-nav">
            <ul class="kss-menu" data-kss-ref="{{rootNumber}}">
              <li class="kss-menu-item"><a href="./"><span class="kss-ref">0</span><span class="kss-name">Overview</span></a></li>
              {{#eachRoot}}
              <li class="kss-menu-item"><a href="section-{{reference}}.html"><span class="kss-ref">{{reference}}</span><span class="kss-name">{{header}}</span></a></li>
              {{/eachRoot}}
            </ul>
            {{#if overview}}
            {{else}}
            <ul class="kss-menu-child">
              {{#eachSection rootNumber}}
              {{#whenDepth 1}}
              {{else}}
              <li class="kss-menu-item"><a href="#section-{{reference}}"><span class="kss-ref">{{reference}}</span><span class="kss-name">{{header}}</span></a></li>
              {{/whenDepth}}
              {{/eachSection}}
            </ul>
            {{/if}}
          </nav>
        </div>
      </div>
      <div class="kss-content">
        <article class="kss-article">
          {{#if overview}}
          <section id="section-0" class="kss-section kss-overview">
            {{html overview}}
          </section>
          {{else}}
          {{#eachSection rootNumber}}
          <section id="section-{{reference}}" class="kss-section kss-depth-{{refDepth}}">
            <h1 class="kss-title"><span class="kss-ref">{{reference}}</span> {{header}}</h1>
            {{#ifAny markup modifiers}}
            {{#if description}}
            <div class="kss-description">
              {{html description}}
            </div>
            {{/if}}
            <div class="kss-modifier-block">
              <div class="kss-modifier kss-modifier-original">
                <div class="kss-modifier-example">
                  {{modifierMarkup}}
                </div>
              </div>
              {{#eachModifier}}
              <div class="kss-modifier">
                <div class="kss-modifier-head">
                  <div class="kss-modifier-name">{{name}}</div>
                  <div class="kss-modifier-description">
                    {{html description}}
                  </div>
                </div>
                <div class="kss-modifier-example">
                  {{modifierMarkup}}
                </div>
              </div>
              {{/eachModifier}}
              <div class="kss-markup">
                <pre><code data-language="html">{{markup}}</code></pre>
              </div>
            </div>
            {{else}}
            {{#if description}}
            <div class="kss-description">
              {{html description}}
            </div>
            {{/if}}
            {{/ifAny}}
          </section>
          {{/eachSection}}
          {{/if}}
        </article>
        <footer class="kss-footer">
          <div>Created using <a href="https://github.com/hughsk/kss-node">kss-node</a> and <a href="https://github.com/htanjo/kss-node-template">kss-node-template</a>.</div>
        </footer>
      </div>
    </div>
    <script src="public/kss.js"></script>
    <script src="public/jquery-1.9.1.min.js"></script>
    <!--[if gt IE 8]><!-->
    <script src="public/rainbow.min.js"></script>
    <!--<![endif]-->
    <script src="public/main.js"></script>
  </body>
</html>