/* Base */

::-webkit-scrollbar {
    width: .6em;
    position: absolute;
}

::-webkit-scrollbar {
    width: .6em;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.15);
}

html {
	/* Box model */
	height: 100%;

	/* Typography */
	font-size: $doc-font-size + px;
	line-height: 1.5;
}

body {
	/* Box model */
	height: 100%;

	/* Typography */
	font-family: $font-family;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Visual */
	background-color: $body-bg-color;
}

.baseline {
	background-image: -webkit-linear-gradient(0deg, rgba(200,0,0,.2) 40px, transparent 40px),
						-webkit-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.8) 100%);
	background-image: -moz-linear-gradient(0deg, rgba(200,0,0,.2) 40px, transparent 40px),
						-moz-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.8) 100%);
	background-image: -o-linear-gradient(0deg, rgba(200,0,0,.2) 40px, transparent 40px),
						-o-linear-gradient(top, rgba(0,0,0,0) 95%, rgba(56,255,255,.8) 100%);
	background-size: 60px 100%, 100% 24px;
	background-position: 10px 0px;
}

.app {
	/* Box model */
	height: 100%;
	position: relative;
	padding: 0;
	overflow: hidden;
}

.layout {
	/* Box model */
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-top: $doc-line-height * 3 +px;
}

.main {
	/* Box model */
	position: relative;
	height: 100%;
	float: none;
	width: auto;
	overflow: hidden;
	margin-left: $aside-width;

	/* Misc */
	-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);

		@media screen and (max-width: 768px) {
	    /* Rédigez vos propriétés CSS ici */

		margin-left: 0;
	}
}

.content {
	/* Box model */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: $doc-line-height * 3 +px;
}

	/* Visual */
	/*background-color: white;*/

	/* Misc */
	/*-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	-ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);*/
