/* Fonts */

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg'),
         url('fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
