//
// Icons
//

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icons/icomoon.eot?-afyjzw');
	src:url('fonts/icons/icomoon.eot?#iefix-afyjzw') format('embedded-opentype'),
		url('fonts/icons/icomoon.woff?-afyjzw') format('woff'),
		url('fonts/icons/icomoon.ttf?-afyjzw') format('truetype'),
		url('fonts/icons/icomoon.svg?-afyjzw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cursor:before {
	content: "\e600";
}
.icon-stack:before {
	content: "\e601";
}
.icon-cart:before {
	content: "\e602";
}
.icon-gift:before {
	content: "\e603";
}
.icon-eye:before {
	content: "\e604";
}
.icon-paper:before {
	content: "\e034";
}
.icon-home:before {
	content: "\e605";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-arrow-down:before {
	content: "\e606";
}
