/* Typography

Styleguide 1
*/

/* Headings

Markup: 
<h1 class="h1">Heading 1</h1>
<h2 class="h2">Heading 2</h2>
<h3 class="h3">Heading 3</h3>
<h4 class="h4">Heading 4</h4>
<h5 class="h5">Heading 5</h5>
<h6 class="h6">Heading 6</h6>

Styleguide 1.1 
*/

h1, h2, h3, h4, h5, h6 {
	/* Typography */
	font-family: $headings-font-family;
	color: $headings-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, 
.h1 {
	/* Typography */
	@include font-size(32, no, yes);
	font-weight: normal;
}

h2, 
.h2 {
	/* Typography */
	@include font-size(28, no, 24);
	font-weight: normal;
}

h3, 
.h3 {
	/* Typography */
	@include font-size(24, no, yes);
	font-weight: normal;
}

h4, 
.h4 {
	/* Typography */
	@include font-size(20, no, yes);
	font-weight: normal;
}

h5, 
.h5 {
	/* Typography */
	@include font-size(18, no, yes);
	font-weight: normal;
}

h6, 
.h6 {
	/* Typography */
	@include font-size(16, no, yes);
	font-weight: normal;
}

/* Body copy

Markup: 
<p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis id nunc et semper. Suspendisse sem nulla, semper feugiat suscipit posuere, semper sed sapien. Duis volutpat lorem id mi convallis vulputate. Vestibulum euismod ligula arcu, vel feugiat est auctor sed. Proin ornare, lectus sit amet elementum aliquet, arcu felis egestas nibh, sed mattis turpis mi quis mauris. Vivamus tincidunt rhoncus nibh, sed dictum arcu auctor at. Cras blandit quam vitae sapien sollicitudin, sed vestibulum sem rutrum.</p>
<p class="lead">Aliquam ornare, nisi eget ultricies tincidunt, dolor purus cursus lacus, ut scelerisque risus sapien vitae odio. Donec euismod tempor lorem. Integer at neque augue. Suspendisse eu magna id erat tristique rutrum.</p>
<p class="p"><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer facilisis id nunc et semper.</small></p>
<p class="p">Aliquam ornare, nisi eget ultricies tincidunt, <strong>dolor purus cursus lacus, </strong>ut scelerisque risus sapien vitae odio.</p>
<p class="p">Donec euismod <em>tempor lorem.</em></p>

Styleguide 1.2
*/

p, 
.p, {
	/* Typography */
	@include font-size($doc-font-size, no, yes);
}

.lead {
	/* Typography */
	@include font-size(20, no, yes);
}

/* Link

Markup: 
<a href="#" title="link" class="link">Link</a>

Styleguide 1.3
*/

a, 
.link {
	/* Typography */
	color: $link-color;

	/* Visual */
	cursor: pointer;

	&:hover {
		/* Typography */
		color: $link-color-hover;
	}
}

/* Hr

Markup: 
<hr class="hr" />

Styleguide 1.4
*/

hr, 
.hr {
	/* Box-model */
	height: 0;
	margin: 0;
	@include m-p (margin, bottom, $mp-m);

	/* Visual */
	border: 0;
	border-top: 1px solid $border-color;


	&.fix-line-height {
		/* Box-model */
		margin-top: 1px;
	}
}

/* List

Markup: 
<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>

Styleguide 1.5
*/

ul, 
.ul, 
ol, 
.ol {
	/* Typography */
	@include font-size($doc-font-size, no, yes);
}

/* List unstyled

Markup: 
<ul class="list-unstyled">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>

Styleguide 1.5.1
*/

.list-unstyled {
	/* Box-model */
	padding-left: 0;

	/* Visual */
	list-style: none;
}


/* List inline

Markup: 
<ul class="list-inline">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>

Styleguide 1.5.2
*/

.list-inline {
	/* Box-model */
	padding-left: 0;

	/* Visual */
	list-style: none;

	li {
		/* Box-model */
		display: inline-block;
		@include m-p (padding, left, $mp-s);
		@include m-p (padding, right, $mp-s);
	}
}

/* Alignement / Transform

Markup: 
<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="text-left">Integer facilisis id nunc et semper.</p>
<p class="text-right">Duis volutpat lorem id mi convallis vulputate.</p>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="text-uppercase">Integer facilisis id nunc et semper.</p>

Styleguide 1.6
*/

.text-center {
	/* Typography */
	text-align: center;
}

.text-left {
	/* Typography */
	text-align: left;
}

.text-right {
	/* Typography */
	text-align: right;
}

.text-justify {
	/* Typography */
	text-align: justify;
}

// Text transform
.text-uppercase {
	/* Typography */
	text-transform: uppercase;
}

/* Helper

Markup: 
<p class="text-success">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="text-danger">Integer facilisis id nunc et semper.</p>
<p class="text-info">Duis volutpat lorem id mi convallis vulputate.</p>

Styleguide 1.7
*/

.text-success {
	/* Typography */
	color: $success-color;
}

.text-danger {
	/* Typography */
	color: $danger-color;
}

.text-info {
	/* Typography */
	color: $info-color;
}
