//
// Utilities
// 

// Anchor 
.anchor {
	/*Box model */
	position: relative;
	top: -3em;

	/* Desktop */
	@media screen and (min-width: $screen-md-min) {
		/* Box-model */
		top: -1.5em;
  	}
}

// Display
.block {
	/* Box-model */
	display: block;
}

.block-100 {
	/* Box-model */
	display: block;
	width: 100%;
}

.center-block {
	/* Box-model */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inline-block {
	/* Box-model */
	display: inline-block;
}

.inline {
	/* Box-model */
	display: inline;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

// Float
.left {
	/* Box-model */
	float: left;
}

.right {
	/* Box-model */
	float: right;
}

// Margin-top

.m-t-0 {
	margin-top: 0;
}

.m-t-xs {
	@include m-p(margin, top, $mp-xs); //6px
}

.m-t-s {
	@include m-p(margin, top, $mp-s); //12px
}

.m-t-m {
	@include m-p(margin, top, $mp-m); //24px
}

.m-t-l {
	@include m-p(margin, top, $mp-l); //36px
}

.m-t-xl {
	@include m-p(margin, top, $mp-xl); //48px
}
.m-t-xxl {
	@include m-p(margin, top, $mp-xxl); //60px;
}

.m-t-xxxl {
	@include m-p(margin, top, $mp-xxxl); //72px;
}


// Margin-bottom
.m-b-0 {
	margin-bottom: 0;
}
.m-b-xs {
	@include m-p(margin, bottom, $mp-xs); //6px
}

.m-b-s {
	@include m-p(margin, bottom, $mp-s); //12px
}

.m-b-m {
	@include m-p(margin, bottom, $mp-m); //24px;
}

.m-b-l {
	@include m-p(margin, bottom, $mp-l); //36px;
}

.m-b-xl {
	@include m-p(margin, bottom, $mp-xl); //48px;
}

.m-b-xxl {
	@include m-p(margin, bottom, $mp-xxl); //60px;
}

.m-b-xxxl {
	@include m-p(margin, bottom, $mp-xxxl); //72px;
}

// Padding-top
.p-t-0 {
	padding-top: 0;
}
.p-t-xs {
	@include m-p(padding, top, $mp-xs); //6px
}

.p-t-s {
	@include m-p(padding, top, $mp-s); //12px
}

.p-t-m {
	@include m-p(padding, top, $mp-m); //24px;
}

.p-t-l {
	@include m-p(padding, top, $mp-l); //36px;
}

.p-t-xl {
	@include m-p(padding, top, $mp-xl); //48px;
}
.p-t-xxl {
	@include m-p(padding, top, $mp-xxl); //60px;
}

.p-t-xxxl {
	@include m-p(padding, top, $mp-xxxl); //72px;
}

// Padding-bottom
.p-b-0 {
	padding-bottom: 0;
}
.p-b-xs {
	@include m-p(padding, bottom, $mp-xs); //6px
}

.p-b-s {
	@include m-p(padding, bottom, $mp-s); //12px
}

.p-b-m {
	@include m-p(padding, bottom, $mp-m); //24px;
}

.p-b-l {
	@include m-p(padding, bottom, $mp-l); //36px;
}

.p-b-xl {
	@include m-p(padding, bottom, $mp-xl); //48px;
}

.p-b-xxl {
	@include m-p(padding, bottom, $mp-xxl); //60px;
}

.p-b-xxxl {
	@include m-p(padding, bottom, $mp-xxxl); //72px;
}

